.button {
	border: 0px solid #a5cfe3;
	color: white;
	border-radius: 4px;
	background: var(--button-background);
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	height: 50px;
	width: 150px;
	margin-right: 20px;
}

.button:hover {
	background:#3BB8AF;
}
